In [1]:
import pandas as pd 
import numpy as np

In [11]:
data = pd.read_csv('dry_final.csv')

shuffled_df = data.sample(frac=1).reset_index(drop=True)
lst = ['Area',	'Perimeter', 'MajorAxisLength',	'MinorAxisLength',	'roundnes',	'Class_BOMBAY',	'Class_CALI',	'Class_SIRA']
data = shuffled_df[lst]
data.head()
print(data.shape)
data.iloc[0:10]

(150, 8)

,Area,Perimeter,MajorAxisLength,MinorAxisLength,roundnes,Class_BOMBAY,Class_CALI,Class_SIRA
0,0.033138,0.048135,0.126616,0.034198,0.887725,0,0,1
1,0.234435,0.310900,0.413383,0.223514,0.868552,0,1,0
2,0.035990,0.053353,0.095986,0.071205,0.885378,0,0,1
3,0.243799,0.337572,0.421479,0.230436,0.844761,0,1,0
4,0.858200,0.870310,0.880560,0.855473,0.870274,1,0,0
5,0.244492,0.329783,0.377972,0.270774,0.857178,0,1,0
6,0.223063,0.320404,0.398794,0.206827,0.835500,0,1,0
7,0.940290,0.875982,0.893468,0.856787,0.926882,1,0,0
8,0.946517,0.995508,1.000000,0.806243,0.814246,1,0,0
9,0.243053,0.373278,0.466139,0.203276,0.794646,0,1,0